# config and cache files
.ipynb_checkpoints/
ipython_config.py
.vscode/
.idea/
*.egg-info/
__pycache__/
.pytest_cache/
.ruff_cache/

# logs
log/
ohsome_log/

# models config
*.pkl

# exclude data files and folders, except for the test data
input_survey_data/
*.xlsx  # make sure that no survey-data or its modified versions are pushed to repo
figures_for_latex/
model_results/
reference_model_results/
!tests/input_survey_data/

# ohsome input files
osm_modules/*.geojson

# bayesian network output
bayesian-network/*.pdf
bayesian-network/*.png

# notebooks, except certain for BN and data preprocessing
*.ipynb
!bayesian-network/*.ipynb
!explorative-data-analysis/*.ipynb
!data-preprocessing/*.ipynb


# R files (used to implement cforest R package in python)
*.sav
*.Rdata
