# config and cache files
.ipynb_checkpoints/
ipython_config.py
.vscode/
__pycache__/
.pytest_cache/
.ruff_cache/

# logs and mergetool orig files
*.orig
*.log
logs/
ohsome_log/

# models config and trained models
*.pkl
*.joblib

# exclude data files and folders, except for the test data
input_survey_data/
*.xlsx  # make sure that no survey-data is published in the repository
figures_for_latex/
model_results/
reference_model_results/
!tests/input_survey_data/

# ohsome input files
osm_modules/*.geojson

# bayesian network output
bayesian-network/*.pdf
bayesian-network/*.png

# notebooks, except certain NBs for BN
*.ipynb
!bayesian-network/*.ipynb
!data_preparation/*.ipynb

# R files (used to implement cforest R package in python)
*.sav
*.Rdata
