## local run: pre-commit run --all-files

repos: #  definitions see: https://pre-commit.com/hooks.html

# Ruff hooks
# enable automatic lint fixes, allowed for python files and jupyter notebooks
-   repo: https://github.com/astral-sh/ruff-pre-commit  # tell pre-commit where to get the code for the hook from
    # Ruff version
    rev: v0.4.4
    hooks:
    -   id: ruff     # linter (pre-commit.yml incl isort thus no need to add it as addtional hook)
        args: [ --fix, --show-fixes]
    -   id: ruff-format    # formatter

# Black hooks (--preview flag allows autofix of line-lengths which were before detected by ruff linter)
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
        args: [--check, --diff, --preview]

# nbstripout hook
# supports saving of jupyter notebooks on git
repos:
- repo: https://github.com/kynan/nbstripout
  rev: 0.7.1
  hooks:
    - id: nbstripout

# pre-commit-hooks (as part of Continuous Integration)
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-json
    -   id: check-yaml
    -   id: debug-statements
    -   id: name-tests-test
        args: [--pytest-test-first]
    -   id: requirements-txt-fixer
    -   id: check-merge-conflict
    -   id: check-added-large-files # default 500kb
